{
    "semi": true,
    "tabWidth": 2,
    "singleQuote": false,
    "trailingComma": "none",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "printWidth": 120,
    "endOfLine": "auto",
    "useTabs": false,
    "arrowParens": "avoid",
    "quoteProps": "as-needed",
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "proseWrap": "preserve",
    "experimentalTernaries": false
  }